<!-- Modal -->
@model Assignment.DBEntity.ViewModels.TaskModel
<div class="modal fade" id="EditTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color:#7CA28D">
                <h5 class="modal-title" id="exampleModalLongTitle">Task Form</h5>
                <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
            </div>
            <form asp-controller="Task" asp-action="EditTask" method="post">
                <input type="hidden" name="TaskId" id="TaskId_EditTask" asp-for="TaskId" value="@Model.TaskId" />
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col form-floating mb-3 ">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="TaskName_EditTask" />
                            <label for="TaskName_EditTask">Task Name</label>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="Assignee_EditTask" />
                            <label for="Assignee_EditTask">Assignee</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-floating mb-3 ">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="Description_EditTask" />
                            <label for="Description_EditTask">Description</label>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="date" class="form-control shadow-none input" placeholder="Task Name" id="DueDate_EditTask" />
                            <label for="DueDate_EditTask">DueDate</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-floating mb-3 ">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="City_EditTask" />
                            <label for="City_EditTask">City</label>
                        </div>
                        <div class="col form-floating mb-3">
                            <select class="form-select input" id="Category_EditTask" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.CategoryComboBox,"CategoryId","CategoryName"))">
                                <option value="">Select Category</option>
                            </select>
                            <label for="floatingSelect" class="text-info">
                                Category
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <a id="edit" onclick=" toggleFormElements('true')" style=" height:2.5rem;width:4rem" class="btn btn-info text-white rounded ">Edit</a>
                <input type="submit" value="Save" id="save" style=" height:2.5rem;width:4rem" class="btn btn-info text-white rounded">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function (e) {
        toggleFormElements('true')
    }
    function toggleFormElements(bDisabled) {
        var inputs = document.getElementsByClassName("input");
        var submit = document.getElementById("save");
        var editprofile = document.getElementById("edit");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        if (inputs[0].disabled) {
            submit.style.display = "none";
            editprofile.style.display = "block";
        } else {
            submit.style.display = "block";
            editprofile.style.display = "none";
        }
    }

</script>


