
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="offcanvas offcanvas-end" id="chatboxmodalpatient">
    <div class="offcanvas-header bg-info text-white">
        <h4 class="offcanvas-title ">Chat</h4>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row p-1">
                <div class="col-12">
                    <div class="text-black " id="messagesList"></div>
                </div>
            </div>
            <div class="row p-1">

                <input type="text" id="userInput" value="@CV.UserName()" hidden readonly />
                <div class="col-5"><input type="text" id="patientReceiverInput" /></div>
                <div class="col-5"><input type="hidden" id="patientModalRequestId"/></div>
                <div class="col-5"><input type="hidden" id="patientReceiverType" /></div>
                <div class="col-5"><input type="hidden" id="patientReceivername" /></div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="input-group mb-3">
            <input type="text" class="form-control input" id="messageInput" placeholder="write here..." aria-label="write here..." aria-describedby="button-addon2">
            <button onclick="sendMSG()" class="btn btn-info" type="button"><i class="fa-regular fa-paper-plane"></i></button>
        </div>
    </div>
</div>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.on("ReceiveMessage", function (user, message, reqid) {
        var now = new Date();
        var request = document.getElementById("requestId").value;
        if (request != null && reqid == request) {
            console.log(message);
            var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            var encodedMsg = msg;
            var div = document.createElement("div");
            var div2 = document.createElement("div");
            div.classList.add('text-start', 'text-info', 'h5');
            div2.classList.add('text-start', 'small', 'text-muted');
            div.textContent = encodedMsg;
            div2.textContent = now.toLocaleTimeString();
            $("#messagesList").append(div);
            console.log("message written");
            $("#messagesList").append(div2);
        }

    });

    connection.start().then(function () {
        connection.invoke("GetConnectionId").then(function (id) {
            console.log(id);
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function sendMSG() {
        var sender = document.getElementById("userInput").value;
        console.log(sender);
        var message = document.getElementById("messageInput").value;
        console.log(message);
        var receiver = document.getElementById("patientReceiverInput").value;
        console.log(receiver);
        var requestid = document.getElementById("patientModalRequestId").value;
        console.log(requestid);
        var receiverid = '10';
        console.log(receiverid);
        var receivertype = document.getElementById("patientReceiverType").value;
        console.log(receivertype);
        var receivername = document.getElementById("patientReceiverInput").value;
        console.log(receivername);
        if (receiver != "") {
            //send to a user

            connection.invoke("SendToUser", sender, receiver, message, requestid, receiverid, receivertype, receivername).then(function () {
                var now = new Date();
                var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                var encodedMsg = msg;
                var div = document.createElement("div");
                var div2 = document.createElement("div");
                div.classList.add('text-end', 'text-secondary', 'h5');
                div2.classList.add('text-end', 'small', 'text-muted');
                div.textContent = encodedMsg;
                div2.textContent = now.toLocaleTimeString();

                $("#messagesList").append(div);
                $("#messagesList").append(div2);
                document.getElementById("messageInput").value = '';
            }).catch(function (err) {
                return console.error(err.toString());
            });
        }
        event.preventDefault();
    }

</script>