@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.TimeSheetModel
<div class="container">
    <div class="row">
        <div class="justify-content-end">
            <a class="btn relogin mx-3 shadow-none " asp-controller="Invoicing" asp-action="Index">Back</a>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="w-100">
            <thead class="border-bottom border-dark mb-3">
                <tr>
                    <th class="col-2">
                        Date
                    </th>
                    <th class="col">
                        On-call hours
                    </th>
                    <th class="col-2">
                        Total hours
                    </th>
                    <th class="col">
                        Weekend/Holiday
                    </th>
                    <th class="col-2 px-2">
                        Number of housecalls
                    </th>
                    <th class="col-2 px-2">
                        Number of phonecalls
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white mt-3">
                @foreach(var item in Model.DateList)
                {

                    <tr class="border-bottom">
                        <td class="col m-2">@item.Date.ToString("MM/dd/yyyy")</td>
                        <td class="m-2">0</td>
                        <td class="px-2">
                            <input type="text" class="form-control shadow-none m-2" id="uname" placeholder="">
                        </td>
                        <td class="justify-content-center"><input class="form-check-input form-check-inputs m-2" type="checkbox" onclick="return false;" value=""></td>
                        <td class="px-2"> <input type="text" class="form-control shadow-none m-2" id="noofhousecall"></td>
                        <td class="px-2"><input type="text" class="form-control shadow-none m-2" id="noofconsult"></td>
                    </tr>
                }
            </tbody>
        </table>
        @*<button class="btn btn-info text-white" asp-controller="Invoicing" asp-action="AddReceipts">Add Receipts</button>*@
        <a class="btn relogin mx-3 shadow-none " asp-controller="Invoicing" asp-action="Add">Add Receipts</a>
    </div> 
</div>