@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdminLogin.cshtml";
}
@model HalloDocMVC.DBEntity.DataModels.Aspnetuser
<div class="container-fluid">
    <div class="row min-vh-100 d-flex">
        <div class=" col-md-6 mt-5">
            <img src="~/images/poster.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div class="col-md-6">
            <div class="row min-vh-100 maindiv">
                <div class="centerdiv">
                    <img class="" src="~/images/Patient site 1.png" />
                    <h2><b>Forgot Password</b></h2>
                    <form class="d-flex flex-column justify-content-between" asp-action="SendMailResetPassword" asp-controller="Login" method="post">
                        <strong class="text-danger">@ViewData["EmailCheck"]</strong>
                        <div class="form-floating align-self-center mb-2">
                            <input type="email" class="form-control usernameLogin " id="email" asp-for="Email" placeholder="username" style="width:380px;">
                            <i class="fa fa-user-circle userLogin"></i>
                            <label for="floatingInput">Username</label>
                        </div>
                        <button type="submit" class="logInBtnLogin align-self-center">Reset Password</button>
                        <div class="forgotPasswdLogin">
                            <a id="forgotLogin" asp-controller="Dashboard" asp-action="Index"><b>< Back to Login</b></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
