@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdminLogin.cshtml";
}
<div class="container-fluid">
    <div class="row min-vh-100 d-flex">
        <div class=" col-md-6 mt-5">
            <img src="~/images/poster.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div class="col-md-6">
            <div class="row min-vh-100 maindiv">
                <div class="centerdiv">
                    <img class="" src="~/images/Patient site 1.png" />
                    <h2><b>Reset Password</b></h2>
                    <form class="d-flex flex-column justify-content-between" asp-action="SavePassword" asp-controller="Login" method="post" id="ChangePassword">
                        <strong class="text-danger">@ViewData["EmailCheck"]</strong>
                        <input name="Email" value="@ViewBag.email" type="hidden">
                        <div class="form-floating align-self-center mb-2">
                            <input type="password" class="form-control shadow-none border-none" id="Password" name="Password" placeholder="Password" style="width:380px;">
                            <label for="Password">Password</label>
                            <button type="button" class="btn btn-light"></button>
                        </div>
                        <div class="form-floating align-self-center mb-2">
                            <input onkeyup="matchPassword()" type="password" class="form-control shadow-none border-none" id="ConfirmPassword" name="ConfirmPassword" placeholder="username" style="width:380px;">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <button type="button" class="btn btn-light"></button>
                        </div>
                        <button onclick="Submit()" type="button" class="btn btn-info text-white w-100 mb-4 shadow-none" role="button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var temp = false;
    function matchPassword() {
        var Password = $("#Password").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        if (Password != ConfirmPassword) {
            $("#ConfirmPassword").css('border-color', "red");
            $("#error").show();
            temp = false;
        }
        else {
            $("#ConfirmPassword").css('border-color', "green");
            $("#error").hide();
            temp = true;
        }
    }
    function Submit() {
        if (temp == true) {
            $('#ChangePassword').submit();
        }
    }
</script>
