@{
    Layout = "~/Views/Shared/Admin/_LayoutAdminLogin.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="align-self-center my-4 col-md-6 col-xs-10">
    <h3 class="py-3">Reset Passsword</h3>
    <form asp-controller="Login" asp-action="SavePassword" method="post" id="ChangePassword">
        <strong class="text-danger">@ViewData["error"]</strong>
        <input name="Email" value="@ViewBag.email" type="hidden">
        <div class="form-floating mb-4 password">
            <input name="Password" type="password" class="form-control shadow-none eyehide " id="Password" placeholder="Password">
            <label for="Password">Password</label>
            <button type="button" class="btn btn-light" onclick="passtoggle('Password')">
                <i class="Password fa fa-eye-slash"></i>
                <i class="Password fa fa-eye" style="display:none"></i>
            </button>
        </div>
        <div class="form-floating mb-4 password">
            <input name="ConfirmPassword" onkeyup="MatchPassword()" type="password" class="form-control shadow-none eyehide " id="ConfirmPassword" placeholder="Password">
            <label for="ConfirmPassword">Confirm Password</label>
            <button type="button" class="btn btn-light" onclick="passtoggle('ConfirmPassword')">
                <i class="ConfirmPassword fa fa-eye-slash"></i>
                <i class="ConfirmPassword fa fa-eye" style="display:none"></i>
            </button>
        </div>
        <button onclick="Submit()" type="button" class="btn btn-info text-white w-100 mb-4 shadow-none" role="button">Save</button>
    </form>
</div>

<script>
    var temp = false;
    function MatchPassword() {
        var Password = $("#Password").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        if (Password != ConfirmPassword) {
            $("#ConfirmPassword").css('border-color', "red");
            $("#error").show();
            temp = false;
        }
        else {
            $("#ConfirmPassword").css('border-color', "green");
            $("#error").hide();
            temp = true;
        }
    }
    function Submit() {
        if (temp == true) {
            $('#ChangePassword').submit();
        }
    }
</script>
