@{
    Layout = "~/Views/Shared/Admin/_LayoutAdminLogin.cshtml";
    ViewData["Title"] = "Create Account";
}
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdminLogin.cshtml";
}
<div class="container-fluid">
    <div class="row min-vh-100 d-flex">
        <div class=" col-md-6 mt-5">
            <img src="~/images/poster.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div class="col-md-6">
            <div class="row min-vh-100 maindiv">
                <div class="centerdiv">
                    <img class="" src="~/images/Patient site 1.png" />
                    <h3 class="py-3">Create Account</h3>
                    <strong class="text-danger">@ViewData["error"]</strong>
                    <form id="LoginForm" asp-controller="Login" asp-action="CreatNewAccontPost" method="post" class="d-flex flex-column justify-content-between">
                        @*<div class="form-floating align-self-center mb-4 email">
                            <input name="Email" type="email" class="form-control shadow-none " id="Email" placeholder="name@example.com">
                            <i class="fa fa-user-circle userLogin"></i>
                            <label class="bg-transparent" for="Email">Email</label>
                            <span class="text-danger emailerror" style="display:none;">Enter valid email address</span>
                        </div>
                        <div class="form-floating align-self-center mb-4 password">
                            <input name="Password" type="password" class="form-control shadow-none eyehide " id="Password" placeholder="Password">
                            <label for="Password">Password</label>
                        </div>*@
                        <div class="form-floating align-self-center mb-2 email">
                            <input type="email" class="form-control usernameLogin " name="Email" id="Email" placeholder="username" style="width:380px;">
                            <i class="fa fa-user-circle userLogin"></i>
                            <label for="Email">Username</label>
                        </div>
                        <div class="form-floating align-self-center mb-2 password">
                            <input type="password" class="form-control passwordLogin " name="Password" placeholder="Password" style="width:380px;">
                            <label for="Password">Password</label>
                        </div>
                        <div class="form-floating align-self-center mb-2 password">
                            <input type="password" class="form-control passwordLogin " name="Passwordhash" id="ConfirmPassword" placeholder="password" style="width:380px;">
                            <label for="ConfirmPassword">Password</label>
                        </div>
                        @*<div class="form-floating mb-4 password">
                            <input name="Passwordhash" type="password" class="form-control shadow-none eyehide " id="ConfirmPassword" placeholder="Password">
                            <label for="ConfirmPassword">Confirm Password</label>
                        </div>*@
                        <button type="submit" class="logInBtnLogin align-self-center" role="button"> Create</button>
                        @*<button type="submit" class="btn btn-info text-white w-100 mb-4 p-2 shadow-none" role="button">
                            Create
                        </button>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>