@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Patient/_LayoutCreateRequest.cshtml";
}
@model HalloDocMVC.DBEntity.ViewModels.PatientPanel.ViewDataConciergeRequestModel
<partial name="~/Views/PatientPanel/Modals/_CreateRequestModal.cshtml" />
<div class="row">
    <div class="col float-end">
        <a class="relogin ms-auto " asp-controller="CreateRequest" asp-action="Index"><button class="relogin shadow-none bg-white float-end">Back</button></a>
    </div>
</div>@*
<div class="card shadow-none">*@
<form method="post" asp-controller="CreateRequest" asp-action="ConciergeRequest" enctype="multipart/form-data">
    <div class="card shadow border-0">
        <div class="card-header">
            <h4><strong>Concierge Information</strong></h4>
        </div>
        <div class="card-body border-0 mb-3">
            <div class="row ">
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_FirstName" type="text" class="form-control shadow-none input" id="cname" placeholder="details">
                    <label class="ms-2" for="cname"> First Name</label>
                    <span asp-validation-for="CON_FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_LastName" type="text" class="form-control shadow-none input" id="lname" placeholder="details">
                    <label class="ms-2" for="lname">Last Name</label>
                    <span asp-validation-for="CON_LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_PhoneNumber" class="form-control shadow-none input" type="tel" id="phones" placeholder="(201) 555-0123" />
                    <label class="ms-2" for="tel">Phone Number</label>
                    <span asp-validation-for="CON_PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_Email" type="email" class="form-control shadow-none input" id="email" placeholder="details">
                    <label class="ms-2" for="emailid"> Email</label>
                    <span asp-validation-for="CON_Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-floating mb-3">
                    <input asp-for="CON_Location" type="text" class="form-control shadow-none input" id="Property" placeholder="Relation with Patient" />
                    <label class="ms-2" for="Property">Hotel/Property Name</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow border-0 mb-3">
        <div class="card-header">
            <h4><strong>Concierge Location</strong></h4>
        </div>
        <div class="card-body border-0">
            <div class="row ">
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_Street" type="text" class="form-control shadow-none input" id="street" placeholder="details">
                    <label class="ms-2" for="street"> Street</label>
                    <span asp-validation-for="CON_Street" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_City" class="form-control shadow-none input" type="text" id="city" placeholder="(201) 555-0123" />
                    <label class="ms-2" for="city">City</label>
                    <span asp-validation-for="CON_City " class="text-danger"></span>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_State" type="text" class="form-control shadow-none input" id="state" placeholder="details">
                    <label class="ms-2" for="state"> State</label>
                    <span asp-validation-for="CON_State" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="CON_Zipcode" class="form-control shadow-none input" type="text" id="zipcode" placeholder="Zipcode" />
                    <label class="ms-2" for="zipcode">Zipcode</label>
                    <span asp-validation-for="CON_Zipcode" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow border-0 mb-3">
        <div class="card-header">
            <h4><strong>Patient Information</strong></h4>
        </div>
        <div class="card-body border-0">
            <div class="row">
                <div class="col form-floating mb-3">
                    <textarea asp-for="Symptoms" class="form-control shadow-none" id="symptoms" style="height: 100px" placeholder="Enter brief Details of Symptoms (Optional)"></textarea>
                    <label for="symptoms">Enter brief Details of Symptoms (Optional)</label>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="FirstName" type="text" class="form-control shadow-none input" id="fname" placeholder="details">
                    <label class="ms-2" for="fname"> First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="LastName" type="text" class="form-control shadow-none input" id="lname" placeholder="details">
                    <label class="ms-2" for="lname">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-floating mb-3">
                    <input asp-for="DateOfBirth" type="date" class="form-control shadow-none input" id="dob" placeholder="Date of Birth">
                    <label class="ms-2" for="dob">Date Of Birth</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow border-0 mb-3">
        <div class="card-header">
            <h4><strong>Patient Contact Information</strong></h4>
        </div>
        <div class="card-body border-0">
            <div class="row ">
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="Email" type="email" class="form-control shadow-none input" id="email" placeholder="details">
                    <label class="ms-2" for="email"> Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input asp-for="PhoneNumber" class="form-control shadow-none input" type="tel" id="phones" placeholder="(201) 555-0123" />
                    <label class="ms-2" for="tel">Phone Number</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow border-0 mb-3">
        <div class="card-header">
            <h4><strong>Patient Location</strong></h4>
        </div>
        <div class="card-body border-0">
            <div class="row">
                <div class="col form-floating mb-3">
                    <input asp-for="RoomSuite" type="text" class="form-control shadow-none input" id="room" placeholder="details">
                    <label class="ms-2" for="room"> Room # / Suite (Optional)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="d-flex justify-content-end mb-3">
            <input type="submit" class="btn bg-info border border-info text-white ">
            <a asp-controller="CreateRequest" asp-action="Index" class="btn border border-info ms-1 text-info">Cancel</a>
        </div>
    </div>
</form>
@*</div>*@
<script>
    $("#files").change(function () {
        filename = this.files[0].name;
        console.log(filename);
        $("#choosenfile").text(filename);
    });
    function fileValidation() {
        var fileInput =
            document.getElementById('file');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        else {

            // Image preview
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(
                        'imagePreview').innerHTML =
                        '<img src="' + e.target.result
                        + '"/>';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
</script>
