@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SubmitCreateRequest";
    Layout = "~/Views/Shared/Patient/_LayoutCreateRequest.cshtml";
}
<div class="row">
    <div class="d-none d-lg-block col-4">
    </div>
    <div class="col-6 col-lg-4 options">
        <h1>I am a..</h1>
        <div>
            <a asp-controller="CreateRequest" asp-action="CreatePatientRequest"><button class="alert alert-info customer"><strong class="information">Patient</strong></button></a>
        </div>
        <div>
            <a asp-controller="CreateRequest" asp-action="CreateFamilyRequest"><button class="alert alert-primary customer"><strong class="information">Family/Friends</strong></button></a>
        </div>
        <div>
            <a asp-controller="CreateRequest" asp-action="CreateConciergeRequest"><button class="alert alert-success customer"><strong class="information">Conceirge</strong></button></a>
        </div>
        <div>
            <a asp-controller="CreateRequest" asp-action="CreateBusinessRequest"><button class="alert alert-danger customer"><strong class="information">Business Partner</strong></button></a>
        </div>
    </div>
    <div class="col-6 col-lg-4 back">
        <a asp-controller="home" asp-action="Index"><button class="btn relogin d-none d-sm-block mx-3 shadow-none">< Back</button></a>
    </div>
</div>