@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
    ViewData["Title"] = "My Profile";
}

@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.AdminProfileModel

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column my-2 col-lg-8 col-md-10">
        <div class="d-flex justify-content-between px-2 mb-2">
            <div>
                <strong class="fs-4">
                    My Profile
                </strong>
            </div>
            <div>
                <a asp-controller="Dashboard" asp-action="Index" class="btn border border-info shadow-none">
                    <strong class="text-info">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                    </strong>
                </a>
            </div>
        </div>
        <div class="shadow bg-white rounded m-2 p-2">
            <!--Account Information-->
            <form method="post" asp-controller="" asp-action="">
                <div class="row mx-2 mb-2">
                    <strong class="fs-5 my-3">Account Information</strong>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="UserName" type="text" class="form-control shadow-none input" id="UserName" placeholder="User Name" autocomplete="off">
                            <label for="UserName">User Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control shadow-none input" id="Password" placeholder="Enter Password" autocomplete="off">
                            <label for="Password">Password</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select form-control shadow-none input" id="Status">
                                <option>Active</option>
                            </select>
                            <label for="Status">Status</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select form-control shadow-none input" id="Role">
                                <option>Master Admin</option>
                            </select>
                            <label for="Role">Role</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn border border-info text-info">Reset Password</button>
                    </div>
                </div>
            </form>
            <!--End Account Information-->
            <!--Administrator Information-->
            <form method="post" asp-controller="" asp-action="">
                <div class="row mx-2 mb-2">
                    <strong class="fs-5 my-3">Administrator Information</strong>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control shadow-none input" id="FirstName" placeholder="Enter First Name" autocomplete="off">
                            <label for="FirstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control shadow-none input" id="LastName" placeholder="Enter Last Name" autocomplete="off">
                            <label for="LastName">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" id="email" class="form-control shadow-none input" placeholder="name@example.com" autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmEmail" type="email" id="ConfirmEmail" class="form-control shadow-none input" placeholder="name@example.com" autocomplete="off">
                            <label for="ConfirmEmail">Confirm Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 phone">
                        <div class="form-floating mb-3 h-100">
                            <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none input" id="phone" autocomplete="off">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-info text-white">Edit</button>
                    </div>
                </div>
            </form>
            <!--End Administrator Information-->
            <!--Mailing & Billing Information-->
            <form method="post" asp-controller="" asp-action="">
                <div class="row mx-2 mb-2">
                    <strong class="fs-5 my-3">Mailing & Billing Information</strong>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Address1" type="text" class="form-control shadow-none input" id="Address1" placeholder="Enter Address 1" autocomplete="off">
                            <label for="Address1">Address 1</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Address2" type="text" class="form-control shadow-none input" id="Address2" placeholder="Enter Address 2" autocomplete="off">
                            <label for="Address2">Address 2</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control shadow-none input" id="City" placeholder="Enter City" autocomplete="off">
                            <label for="City">City</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select form-control shadow-none input" id="State">
                                <option>Gujarat</option>
                            </select>
                            <label for="State">State</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="ZipCode" type="text" class="form-control shadow-none input" id="ZipCode" placeholder="Enter Zip Code" autocomplete="off">
                            <label for="ZipCode">Zip Code</label>
                        </div>
                    </div>
                    <div class="col-md-6 phone">
                        <div class="form-floating mb-3 h-100">
                            <input asp-for="AltPhoneNumber" type="tel" class="form-control shadow-none input" id="phone1" autocomplete="off">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-info text-white">Edit</button>
                    </div>
                </div>
            </form>
            <!--End Mailing & Billing Information-->

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/js/intlTelInput.min.js"></script>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>

<script>
    window.onload = function (e) {
        toggleFormElements('true')
    }
    function toggleFormElements(bDisabled) {
        var inputs = document.getElementsByClassName("input");
        var submit = document.getElementById("save");
        var editprofile = document.getElementById("edit");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        if (inputs[0].disabled) {
            submit.style.display = "none";
            editprofile.style.display = "block";
        } else {
            submit.style.display = "block";
            editprofile.style.display = "none";
        }
    }
</script>