@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdminLogin.cshtml";
}
@model HalloDocMVC.DBEntity.DataModels.Aspnetuser
<div class="container-fluid">
    <div class="row min-vh-100 d-flex">
        <div class=" col-md-6 mt-5">
            <img src="~/images/poster.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div class="col-md-6">
            <div class="row min-vh-100 maindiv" >
                <div class="centerdiv" >
                    <img class="" src="~/images/Patient site 1.png" />
                    <h2><b>Login To Your Account</b></h2>
                    <strong class="text-danger">@ViewData["error"]</strong>
                    <form class="d-flex flex-column justify-content-between" asp-action="Validate" asp-controller="Login" method="post">
                        <div class="form-floating align-self-center mb-2">
                            <input type="email" class="form-control usernameLogin " id="email" asp-for="Email" placeholder="username" style="width:380px;">
                            <i class="fa fa-user-circle userLogin"></i>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating align-self-center mb-2">
                            <input type="password" class="form-control passwordLogin " asp-for="Passwordhash" placeholder="password" style="width:380px;">
                            <label for="floatingInput">Password</label>
                        </div>
                        <button type="submit" class="logInBtnLogin align-self-center">Log In</button>
                        <div class="forgotPasswdLogin">
                            <a id="forgotLogin" asp-controller="Dashboard" asp-action="ForgotPassword"><b>Forgot Password ?</b></a>
                            <a id="forgotLogin" asp-controller="Home" asp-action="Index"><b>Back</b></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
