@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="CancelCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Cancellation</h5>
                    <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
                </div>
                <form asp-controller="Actions" asp-action="CancelCase" class="needs-validation" novalidate>
                    <input type="hidden" id="RequestId_Input_ModalCancelCase" name="requestid">
                    <div class="modal-body">
                        <p class="text-secondary">
                            Patient name :
                            <span id="PatientName_ModelCancelCase" class="text-info"></span>
                        </p>
                        <div class="form-floating mb-3">
                            <select name="CaseTag" asp-items="@(new SelectList(ViewBag.ComboBoxCaseReason,"CaseReasonId","CaseReasonName"))" required class="form-select form-control shadow-none" id="CancelType" data-allow-clear="true" tabindex="-1">
                                
                            </select>
                            <label for="CancelType">Reasons for Cancellation</label>
                        <div class="invalid-feedback">
                            Please enter valid reason!
                        </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="Note" class="form-control shadow-none"required  placeholder="Leave a comment here" id="AdminNotes" style="height: 100px"></textarea>
                            <label for="AdminNotes">Provide Additional Notes</label>
                        <div class="invalid-feedback">
                            Please enter notes!
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info text-white shadow-none">Confirm</button>
                        <button type="button" class="btn border border-info text-info shadow-none" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
</div>